body {
    background: url("https://i.pinimg.com/originals/56/ae/67/56ae67807da10fd230114b65823f8282.jpg")
}

#container {
    margin-left: 20%;
    margin-right: 20%;

    padding: 10%;
    background: url("https://s-media-cache-ak0.pinimg.com/originals/8c/d0/16/8cd016ca91920d43bcd14fbb40d89fcd.jpg")
    
}